body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;
}
.header_0{
    color: #4169E1;
    text-align: center;
}

.header {
    background-color: turquoise;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #0238da;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;

    margin-right: 25px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #4778cc;
}

.num {
    color: #4169E1;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #4778cc;
}
.button {
    background-color: #42addb;
    color:  #2b6282;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;

    transition: background-color 0.2s linear;
}

.content{
    text-decoration:aquamarine;
    background-color: #92dafe;
    color: #4f4f4f; 
    text-align: center; 
    margin-top: 20px ;
    font-size: 25px; 
    font-family: Arial, sans-serif;
    padding: 100px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .footer {
    background-color: black;
    text-align: center;
    color: white;
}